# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env*
# Ignore node_modules anywhere in apps/
apps/**/node_modules/

# Ignore Vite cache folders anywhere in apps/
apps/**/.vite/

# Ignore build output folders
apps/**/dist/