.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #5e4c5a;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  padding: 0 5px;
  border-bottom: 2px solid #373938;
}

.navbar h1 {
  font-weight: 100;
}

.navbar ul {
  list-style-type: none;
}
