.markers-table {
  border-collapse: collapse;
}

.markers-table td {
  padding: 5px;
  margin: 0;
  border: 1px solid gray;
}

.markers-table tr {
  margin: 0;
  padding: 0;
}

.markers-table .hover:hover {
  cursor: pointer;
  color: blue;
}

.markers-table .disabled {
  color: lightgray;
}
